{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>M4M</title>
<!-- 	<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bespoke.css' %}">
	<link href='http://fonts.googleapis.com/css?family=Abril+Fatface|Vollkorn:700italic,400,700' rel='stylesheet' type='text/css'> -->
</head>
<body>
	<h1>MadeforMe Homepage</h1>

	<h5>Create a buyer account <a href="{% url 'customer:buyersignup' %}">Sign Up</a></h5>
    <h5>Create a maker account <a href="{% url 'customer:makersignup' %}">Apply</a></h5>

	{% block content %} {% endblock %}

	<!-- ================================================================================================================== -->

	<footer>
	</footer>
		<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
		<script src="{% static 'js/bootstrap.min.js' %}"></script>
    	<script src="{% static 'js/holder.js' %}"></script> -->
</body>
</html>